$breakpoints: (
  xsmal: 30em,
  /* 480px */ small: 48em,
  /* 768px */ medium: 65em,
  /* 1040px */ large: 75em,
  /* 1200px */ xlarge: 90em,
  /* 1440px */
);
$colors: (
  grises: (
    gris-0: hsl(0, 0, 99.9%),
    gris-1: hsl(0, 0%, 95%),
    gris-2: hsl(0, 0%, 87%),
    gris-3: hsl(0, 0%, 89%),
    gris-4: hsl(0, 0%, 66%),
    gris-5: hsl(0, 0%, 20%),
    gris-6: hsl(0, 0%, 15%),
  ),
  base: (
    primario-0: hsl(200, 70%, 48%),
    primario-1: hsl(200, 70%, 38%),
    primario-2: hsl(205, 49%, 21%),
  ),
  rojo: (
    rojo-0: hsl(358, 100%, 58%),
  ),
);
