$breakpoints: (
    xsmal:  30em,       /* 480px */
    small:  48em,       /* 768px */
    medium: 65em,       /* 1040px */
    large:  75em,       /* 1200px */
    xlarge: 90em,       /* 1440px */
);

@mixin mq($key) {
    $size: map-get($breakpoints, $key);

    @media only screen and (min-width: $size) {
        @content;
    }
}
